asgiref==3.3.1
astroid==2.3.3
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
dj-database-url==0.5.0
Django==3.1.3
django-bootstrap4==2.3.1
django-heroku==0.3.1
django-multiforloop==0.2.1
djangorestframework==3.11.0
gcloud==0.18.3
googleapis-common-protos==1.51.0
gunicorn==20.0.4
httplib2==0.17.0
idna==2.9
importlib-metadata==2.0.0
isort==4.3.21
jws==0.1.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.5.0
matplotlib==3.3.2
mccabe==0.6.1
mpmath==1.1.0
mysqlclient==1.4.6
numpy==1.18.2
oauth2client==4.1.2
packet==0.5
pandas==1.0.3
Pillow==7.0.0
protobuf==3.11.3
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.9.7
pylint==2.4.4
pyparsing==2.4.7
Pyrebase4==4.3.0
python-dateutil==2.8.1
python-decouple==3.3
python-firebase==1.2
python-jwt==2.0.1
pytz==2019.3
requests==2.23.0
requests-toolbelt==0.9.1
rsa==4.0
scipy==1.5.4
six==1.14.0
soupsieve==2.0.1
sqlparse==0.3.0
sympy==1.6.2
typed-ast==1.4.1
urllib3==1.25.8
whitenoise==5.2.0
wrapt==1.11.2
xmltodict==0.12.0
zipp==3.4.0
