appdirs==1.4.4
asgiref==3.3.1
autopep8==1.5.2
beautifulsoup4==4.9.3
bootstrap4==0.1.0
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.0.5
django-bootstrap==0.2.4
django-bootstrap4==2.3.1
django-crispy-forms==1.9.0
django-heroku==0.3.1
filelock==3.0.12
gunicorn==20.0.4
idna==2.10
importlib-metadata==2.0.0
kiwisolver==1.2.0
matplotlib==3.3.2
mpmath==1.1.0
numpy==1.19.2
pandas==1.1.4
Pillow==7.2.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycodestyle==2.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
requests==2.25.0
simpy==4.0.1
six==1.15.0
scipy==1.4.1
soupsieve==2.0.1
sqlparse==0.3.1
sympy==1.6.2
urllib3==1.26.2
virtualenv==20.2.0
whitenoise==5.2.0
zipp==3.4.0
