{% extends 'layouts/master.html' %} {% block content %}

<head>
    <meta charset="UTF-8">
    <title>Bisection</title>
</head>

<div class="contenedor">
    <br>
    <div class="row justify-content-center">

        <div class="col-md-8">
            <div class="card">
                <h1>Biseccion</h1>
                <form id="form" method="POST" action="/biseccion/" class="form">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="eq">Funcion</label>
                            <input id="eq" type="text" value="4 * sin(x) + 5 * cos(x/2)" class="form-control" placeholder="" name="f_function" required />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>x0</label>
                            <input type="number" class="form-control" placeholder="" name="x0_value" required />
                        </div>
                        <div class="form-group col-md-6">
                            <label>x1</label>
                            <input type="number" class="form-control" placeholder="" name="x1_value" required />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Numero Iteraciones</label>
                            <input type="number" class="form-control" placeholder="" name="nIter" step="any" required />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Tolerancia</label>
                            <input type="number" class="form-control" placeholder="" name="tol" step="any" required />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-outline-success btn-block">Calcular</button>
                            <button type="submit" value="Draw" onclick="draw()" class="btn btn-outline-success btn-block">Graficar</button>
                        </div>
                    </div>
                </form>
                <div id="plot"></div>
                <ul>
                    {% if data %}
                    <div class="row justify-content-center">
                        <table class="table table-striped text-center table-BusquedasIncrementales">
                            <thead>
                                <tr>
                                    <th>Iteracion</th>
                                    <th>XI</th>
                                    <th>XM</th>
                                    <th>XS</th>
                                    <th>FXM</th>
                                    <th>Error</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ul>
                                    {% for key,value in data.items %}

                                    <tr>
                                        <th>{{ key}}</th>
                                        <th>{{ value.0}}</th>
                                        <th>{{ value.1}}</th>
                                        <th>{{ value.2}}</th>
                                        <th>{{ value.3}}</th>
                                        <th>{{ value.4}}</th>
                                    </tr>
                                    {% endfor %}
                                </ul>
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}