{% extends 'layouts/master.html' %} {% block content %}

<head>
    <meta charset="UTF-8">
    <title>Busquedas Incrementales</title>
</head>

<div class="contenedor">
    <br>
    <div class="row justify-content-center">

        <div class="col-md-8">
            <div class="card">
                <h1>Busquedas Incrementales</h1>
                <form method="POST" action="/busquedas/" class="form">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="eq">Funcion</label>
                            <input id="eq" type="text" value="4 * sin(x) + 5 * cos(x/2)" class="form-control" placeholder="" name="f_function" required />
                        </div>
                        <div class="form-group col-md-6">
                            <label>XI</label>
                            <input type="number" class="form-control" placeholder=""  name="x_value"  required/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Delta</label>
                            <input type="number" class="form-control" placeholder="" name="delta" step="any" required />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Numero de Iteraciones</label>
                            <input type="number" class="form-control" placeholder="" name="nIter" step="any"  required />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-outline-success btn-block">Calcular</button>
                            <button type="submit" value="Draw" onclick="draw()" class="btn btn-outline-success btn-block">Graficar</button>
                        </div>

                    </div>
                </form>
                <div class="form-group col-md-12" id="plot"></div>
                <ul>
                    {% if  data  %}
                        <div class="form-group col-md-6" >
                            <a button type="submit" href="/grafica" class="btn btn-primary mb-2">Generar Grafico</a>
                        </div>
                        <div class="row justify-content-center">
                                <table class="table table-striped text-center table-BusquedasIncrementales">
                                    <thead>
                                        <tr>
                                            <th>Iteracion</th>
                                            <th>XI</th>
                                            <th>XS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         <ul>
                                            {% for key,value in data.items %}
                                                <tr>
                                                    <th>{{ key}}</th>
                                                    <th>{{ value.0}}</th>
                                                    <th>{{ value.1}}</th>
                                                </tr>
                                            {% endfor %}
                                         </ul>
                                    </tbody>
                                </table>
                        </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>



{% endblock %}