{% extends 'layouts/master.html' %} {% block content %}

<head>
    <meta charset="UTF-8">
    <title>Jacobi</title>
    <script type='text/javascript'>
        function addFields() {
            
            document.getElementById('matrix_a').style.display = 'block';
                document.getElementById("vector_b").style.display = 'block';
                document.getElementById("vector_x0").style.display = 'block';

            // Number of inputs to create
            var number = document.getElementById("dimension").value;
            // Container <div> where dynamic content will be placed
            var container_matrix = document.getElementById("matrix");
            var container_vector = document.getElementById("vector");
            var container_vectorx = document.getElementById("vectorx");
            // Clear previous contents of the container
            while (container_matrix.hasChildNodes()) {
                container_matrix.removeChild(container_matrix.lastChild);
            }
            while (container_vector.hasChildNodes()) {
                container_vector.removeChild(container_vector.lastChild);
            }
            while (container_vectorx.hasChildNodes()) {
                container_vectorx.removeChild(container_vectorx.lastChild);
            }
            if (number > 1) {
                for (i = 0; i < number; i++) {
                    for (j = 0; j < number; j++) {
                        // Append a node with a random text
                        container_matrix.appendChild(document.createTextNode(""));
                        // Create an <input> element for matrix A, set its type and name attributes
                        var input = document.createElement("input");
                        input.type = "number";
                        input.name = "matrix" + i + j;
                        input.style = "width : 110px;";
                        input.step = "any";
                        input.required = true;
                        container_matrix.appendChild(input);
                    }
                    container_matrix.appendChild(document.createElement("br"));
                    container_matrix.appendChild(document.createElement("br"));
                    // Append a node with a random text
                    container_vector.appendChild(document.createTextNode(""));
                    container_vectorx.appendChild(document.createTextNode(""));
                    // Create an <input> element for vector B, set its type and name attributes
                    var vector = document.createElement("input");
                    vector.type = "number";
                    vector.name = "vector" + i;
                    vector.style = "width : 110px;";
                    vector.step = "any";
                    vector.required = true;
                    container_vector.appendChild(vector);


                    var vectorx = document.createElement("input");
                    vectorx.type = "number";
                    vectorx.name = "vectorx" + i;
                    vectorx.style = "width : 110px;";
                    vectorx.step = "any";
                    vectorx.required = true;
                    container_vectorx.appendChild(vectorx);
                }
                document.getElementById("separador").style.display = 'block';
                document.getElementById("matrix_a").style.display = 'block';
                document.getElementById("vector_b").style.display = 'block';
                document.getElementById("vector_x0").style.display = 'block';
                document.getElementById("solve").style.display = 'block';
                document.getElementById('obj2').style.display = 'block';
            }

        }
    </script>
</head>

<div class="container">
     <br>
    <div class="row justify-content-center">
        <div class="col-md-8">
        <div class="card">
         <h1> Jacobi</h1>
            <form method="POST" action="/jacobi/" class="form">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-12" >
                        <label>Matrix dimension</label>
                        <input type="number" id="dimension" min="2" max="100" class="form-control" placeholder="Matrix dimension" name="n" step="any" required />
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <button id="filldetails" onclick="addFields()" class="btn btn-outline-success btn-block">Create</button>
                    </div>

                </div>



                <div id="matrix_a" class="text-align metodo" style="display:none"> Matrix A </div>
                <div id="matrix" class="text-align"> </div>

                <div id="vector_b" class="text-align metodo" style="display:none">Vector b </div>
                <div id="vector" class="text-align"> </div>

                <div id="vector_x0" class="text-align metodo" style="display:none">Vector X0</div>
                <div id="vectorx" class="text-align"> </div>


                <div class="form-row">
                <div class="form-group col-md-6">
                <label>Number Iterations</label>
                <input type="number" class="form-control" placeholder="" name="i" step="any" required />
                </div>
                <div class="form-group col-md-6">
                <label>Tolerance</label>
                <input type="number" class="form-control" placeholder="" name="t" step="any" required />
                </div>
                </div>

                <div class="form-row">

                                    <div class="form-group col-md-12">
                        <button id="solve" type="submit" class="btn btn-outline-success btn-block">Calculate</button>
                    </div>
                    </div>

                    {% if message%}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>This method does not work.</strong>  
                                {{message}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                             {% endif %}

            </form>
        </div>
    </div>
</div>
        <ul>
            {% if data %}
                <label>Spectral Radius: </label>
                <h5>{{spectralRadius}}</h5><br>
                <h5 >C: </h5>
                <h5>{{C}}</h5><br>
                 <h5 >T: </h5>
                <h5>{{T}}</h5><br>
                <div class="row justify-content-center">

                    <br>
                    <table class="table table-striped text-center  col-md-15 table-BusquedasIncrementales">
                        <thead>
                        <tr>
                            <th>Iteration</th>
                            <th>Error</th>
                            <th>X</th>
                        </tr>
                        </thead>
                        <tbody>
                        <ul>
                            {% for key,value in data.items %}

                                <tr>
                                    <th>{{ key}}</th>
                                    <th>{{ value.0}}</th>
                                    <th>{{ value.1}}</th>
                                </tr>
                            {% endfor %}
                        </ul>
                        </tbody>
                    </table>

                </div>
            {% endif %}
        </ul>
</div>
</div>


{% endblock %}