{% extends 'layouts/master.html' %} {% block content %}
<head>
    <script type='text/javascript'>
        function addFields() {
            // Number of inputs to create
            var number = document.getElementById("dimension").value;
            // Container <div> where dynamic content will be placed
            var container_vector = document.getElementById("vector");
            var container_vectorb = document.getElementById("vectorb");
            // Clear previous contents of the container
            while (container_vector.hasChildNodes()) {
                container_vector.removeChild(container_vector.lastChild);
            }
            while (container_vectorb.hasChildNodes()) {
                container_vectorb.removeChild(container_vectorb.lastChild);
            }
            if (number > 1) {
                for (i = 0; i < number; i++) {
                    // Append a node with a random text
                    container_vector.appendChild(document.createTextNode(""));
                    // Create an <input> element for vector B, set its type and name attributes
                    var vector = document.createElement("input");
                    vector.type = "number";
                    vector.name = "vector" + i;
                    vector.style = "width : 110px;";
                    vector.step = "any";
                    vector.required = true;
                    container_vector.appendChild(vector);

                    // Append a node with a random text
                    container_vectorb.appendChild(document.createTextNode(""));
                    // Create an <input> element for vector B, set its type and name attributes
                    var vectorb = document.createElement("input");
                    vectorb.type = "number";
                    vectorb.name = "vectorb" + i;
                    vectorb.style = "width : 110px;";
                    vectorb.step = "any";
                    vectorb.required = true;
                    container_vectorb.appendChild(vectorb);
                }
                document.getElementById("separador").style.display = 'block';
                document.getElementById("vector_b").style.display = 'block';
                document.getElementById("vector_bb").style.display = 'block';
                document.getElementById("solve").style.display = 'block';
            }
        }
    </script>
    <meta charset="UTF-8">
    <title>Lagrange</title>
</head>
<div class="contenedor">
    <br>
    <div class="row justify-content-center">

        <div class="col-md-8">
            <div class="card">
                <h1>\(LAGRANGE\)</h1>
                <form method="POST" action="/lagrangeP/">
                    {% csrf_token %}
                    <div class="form-group col-md-6">
                        <label>Vector's Length:</label>
                        <input type="number" id="dimension" min="2" class="form-control" placeholder="Vector's Length" name="n" step="any" required />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <button id="filldetails" onclick="addFields()" class="btn btn-primary">Create</button>
                        </div>
                        <div class="form-group col-md-6">
                            <button id="solve" type="submit" class="btn btn-success">Calculate</button>
                        </div>
                    </div>
                    <div id="vector_b" class="text-align metodo">Vector X </div>
                    <div id="vector" class="text-align"> </div>
                    <div id="vector_bb" class="text-align metodo">Vector Y </div>
                    <div id="vectorb" class="text-align"> </div>
                </form>
                <div class="form-group col-md-6">
                {% if polinomio %}
                <h5>Ecuacion:</h5>
                <h5>\({{polinomio}}\)</h5>
                {% endif %}
                {% if message %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>This method does not work</strong> {{ message  }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}